.logo{
  
  font-size: 50px;
  
  
}
.nav-inner{
  display: flex;
  align-items: center;
  background-color: aqua;
  height: 100px;
  padding: 10px;
  font-size: 40px;
  justify-content: space-between;
  padding: 40px 0;
  
}

.topbar{
  display: flex;
 
  background-color: rgba(247, 19, 3, 0.897);
  height: 80px;
}
.tobar-left{
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin: 20px;
}
.hotline{
  margin: 4px 50px;
}
span{
  color: white;
}